* {
  margin: 0;
  padding: 0;
}
header {
  background-color: green;
}
header ul {
  margin-bottom: 0;
}
header ul li {
  display: inline-block;
}
header ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  line-height: 56px;
  transition: 0.5s;
}
header ul li a:hover {
  background-color: darkgreen;
  color: darkred;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.header-left {
  width: 30%;
  padding: 10px 30px;
  color: red;
}
.header-left i {
  font-size: 40px;
  margin-left: 150px;
  text-shadow: 2px 2px yellow;
}
.header-right {
  width: 50%;
}
.header-end{
  width: 20%;
}

header ul li:hover ul {
  opacity: 1;
  visibility: visible;
  transform: perspective(300px) scale(1.3) rotateX(30deg);
}
.header-right ul li {
  position: relative;
}
.header-right ul li ul {
  position: absolute;
  background-color: teal;
  width: 150px;
  left: 0;
  top: 97%;
  opacity: 0;
  visibility: hidden;
  transform-origin: top top;
  transform: perspective(00px) scale(0) rotateX(0deg);
  transition: 0.6s;
  z-index: 2;
}
.header-right ul li ul li {
  display: block;
  margin-left: -32px;
}
.header-right ul li ul li a {
  display: block;
  padding: 0px 20px;
}
.header-right ul li ul li a:hover {
  background-color: skyblue;
}

/* carosel section */

.my-carousel{
  z-index: -1;
}
.carousel-caption{
  margin-bottom: 250px !important;
  color: rgb(234, 238, 17) !important;
  font-size: 30px !important;
}
.carousel-caption h5{
  font-size: 30px !important;
}
.carousel-caption p{
  font-size: 25px !important;
}
.carousel-control-prev-icon {
  background-image: url("./image/icons8-left-arrow-96.png");
  background-size: 200%;
}
.carousel-control-next-icon {
  background-image: url("./image/icons8-right-arrow-96.png");
  background-size: 200%;
}
.carorsel-image{
  height: 600px;
}

.castom-bolet button{
  height: 25px !important;
  width: 25px !important;
  border-radius: 50%;
  background-color: rgb(12, 228, 12) !important;
  
}
.saider-left{
  padding: 30px;
}
.saider-left h1{
  font-size: 50px;
}
.saider-left h4{
  font-size: 35px;
}
.saider-left p{
  line-height: 2.5rem;
  font-size: 21px;
  font-weight: 300;
}
.card {
  margin: 0px 100px;
}
